@use "./normalize.scss";
@use "./variables.scss";

@font-face {
    font-family: "Gilroy", sans-serif;
    src: url(./assets/fonts/Gilroy-Bold.ttf) format("ttf"),
        url(./assets/fonts/Gilroy-Bold.woff) format("woff"),
        url(./assets/fonts/Gilroy-Bold.woff2) format("woff2");
}

@font-face {
    font-family: "Gilroy", sans-serif;
    src: url(./assets/fonts/Gilroy-Medium.ttf) format("ttf"),
        url(./assets/fonts/Gilroy-Medium.woff) format("woff"),
        url(./assets/fonts/Gilroy-Medium.woff2) format("woff2");
}

body {
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}

.wrapper {
    margin: 0 auto;
    padding: 0 8%;
}

.section-title {
    margin: 0;

    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    color: #000;

    text-align: center;
}

@media (min-width: variables.$desktop-width) {
    .wrapper {
        padding: 0 18%;
    }
}

