@use "../../templates/variables.scss";

.portfolio {
    padding-top: 81px;
    padding-bottom: 81px;
    background-color: variables.$grey-bg;
    
    .section-title {
        margin-bottom: 64px;
    }

    .portfolio__item {
        margin-bottom: 78px;
        text-align: center;
        &:last-child {
            margin-bottom: 0;
        }
        .portfolio__link {
            font: inherit;
            color: #000;
            transition: all ease 0.2s;
            &:hover {
                color: variables.$grey-text;
            }
        }
        .portfolio__img-container {
            margin-bottom: 33px;
            display: block;
        }
    }
}