@use "../../templates/variables.scss";

.skills {
    padding-top: 83px;
    padding-bottom: 98px;
    background-color: #fff;
    .section-title {
        margin-bottom: 50px;
    }
    .skills__programs {
        margin-bottom: 70px;
        display: block;

        text-align: center;
    }
}

.skills__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;

    .skills__item {
        margin-bottom: 80px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .skills__software {
        margin: 0;
        text-align: center;
    }

    .skills__image {
        margin-bottom: 24px;
    }
    .skills__name {
        margin-bottom: 42px;

        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        color: variables.$grey-text;
    }
}

.skills__rating {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;

    .rating__star {
        width: 26px;
        height: 26px;
        background-image: url(./assets/svg/star.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .rating__star--empty {
        background-image: url(./assets/svg/star--empty.svg);
    }
}

@media (min-width: variables.$tablet-width) {
    .skills {
        padding-top: 91px;
        padding-bottom: 110px;
    }
    .skills__list {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .skills__item {
            margin-bottom: 0;
        }
    }
}