@use '../../templates/variables.scss';

.header {
    padding-top: 66px;
}

// header__top

.header__top {
    position: relative;
}

.site-navigation {
    position: relative;
}

.navigation-toggle {
    display: block;
    position: absolute;
    right: 0;
    top: 0;

    width: 33px;
    height: 20px;

    background-color: #fff;
    border: none;
    cursor: pointer;
}

.site-navigation--closed {
    .navigation-toggle::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 33px;
        height: 4px;

        background-color: #000;
        box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
    }
}

.site-navigation--opened {
    padding-bottom: 351px;

    .navigation-toggle {
        width: 22px;
        height: 22px;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 9px;
            right: -3px;

            width: 27px;
            height: 4px;

            background-color: variables.$grey-text;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}


.site-navigation__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-direction: column;
}

.site-navigation__item {
    margin-bottom: 68px;
    &:last-child {
        margin-bottom: 0;
    }
    .site-navigation__link {
        font-size: 34px;
        font-weight: 700;
        line-height: 42px;

        color: variables.$grey-text;
        text-decoration: none;

        transition: all ease 0.2s;
        &:hover {
            color: #000;
        }
    }
    .link--home {
        color: #000;
    }
}



.lang-switcher {
    width: 135px;
    position: absolute;
    bottom: 102px;
    right: -45px;

    display: flex;
    align-items: baseline;
    justify-content: space-between;

    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    
    text-transform: uppercase;

    transform: rotate(90deg);
    .lang-switcher__container {
        margin: 0;
        padding: 0;
    }
    .lang-switcher__label {
        font: inherit;
    }
    .lang-switcher__input {
        appearance: none;
        position: absolute;
        z-index: 1;
    }
}

.lang-switcher__input:checked ~ .lang-switcher__label {
    color: variables.$grey-text;
}

.lang-switcher--desktop {
    display: none;
}

.site-navigation--closed {
    .site-navigation__list {
        display: none;
    }
    .lang-switcher {
        display: none;
    }
}

@media screen and (min-width: variables.$tablet-width) {
    .header {
        padding-top: 32px;
    }
    .lang-switcher--mobile {
        display: none;
    }
    .lang-switcher--desktop {
        display: block;
    }
    .navigation-toggle {
        display: none;
    }
    .header__top {
        margin-bottom: 40px;
        padding-bottom: 32px;
        border-bottom: 1px solid variables.$grey-text;
    }
    .site-navigation--opened {
        padding-bottom: 0;
    }
    .site-navigation--closed, 
    .site-navigation--opened {
        .site-navigation__list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .site-navigation__item {
        margin-bottom: 0px;
        .site-navigation__link {
            font-size: 18px;
            line-height: 22px;
        }
    }
}

// header__bottom

.header__bottom {
    padding-bottom: 83px;

    .author-photo {
        text-align: center;
    }
}

.info__name {
    margin: 0;
    margin-bottom: 23px;

    font-size: 47px;
    font-weight: 700;
    line-height: 58px;
}

.info__about {
    margin: 0;
    margin-bottom: 37px;

    font-weight: 500;
    color: variables.$black-text;
}

@media screen and (min-width: variables.$tablet-width) {
    .header__bottom {
        padding-bottom: 104px;
    }
    .info {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .info__name {
        margin-bottom: 0;
    }
    .info__about {
        margin-bottom: 0;
    }
    .lang-switcher--desktop {
        align-self: flex-end;
        position: static;
        width: 68px;
        margin-bottom: 25px;

        display: flex;

        font-size: 16px;
        line-height: 20px;

        transform: rotate(-90deg) translateY(25px);
    }
}